*{  margin: auto;
    padding: 10px;
    justify-content:center;
    box-sizing:content-box;
    overflow: hidden;
    
}
div{ background-color: gray;


}
h1{
    margin-inline: 10%;
    

}
h2{
    
    color: green;
}